/*
    Eric Meyer’s “Reset CSS” 2.0
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.card {
    padding: 1.5em;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #fff;
}

// #startstop:hover,
// #reset:hover,
// #lap:hover{
//     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }

.fal {
    font-size: 2em;
    padding: 0.4em 0.8em;
}

.fas {
    color: red;
    font-size: 1.2em;
}

main {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 1.5em;
        font-weight: 600;
        color: #d8d8d8;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        word-spacing: 0.12em;
        padding: 1em 0;
    }

    #timerDisplayContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6em;
        background-color: #1a1a1a;
        border-radius: 20px;

        p {
            color: #f1f1f1;
            font-family: 'Roboto Mono', monospace;
            font-size: 2.2em;
        }
    }

    #timerButtons {
        display: flex;
        justify-content: center;
        margin: 1em 0;

        button {
            border-style: none;
            background-color: transparent;
        }

        button:not(:last-child) {
            border-right: 2px solid black;
        }

        #startstop {
            border: 1px solid #1a1a1a;
            border-radius: 4px 0 0 4px;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        #reset {
            border: 1px solid #1a1a1a;
            border-radius: 0px;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        #lap {
            border: 1px solid #1a1a1a;
            border-radius: 0 4px 4px 0;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        .fa-play {
            color: green;
        }
        .fa-undo {
            color: red;
        }
        .fa-clipboard-list {
            color: blue;
        }
    }
}

.runLapTimes {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding-top: 1em;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);


    h4 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 0.2em;
        padding-bottom: 1em;
        // border-bottom: 1px solid #bbb;

    }
    #lapList {
        max-height: 45vmin;
        // max-width: 40vmin;
        overflow-y: auto;
        text-align: center;

        width: 300px;
        // border-radius: 4px;
        // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        // padding: 1em;
    }

    li {
        font-size: 1.2em;
        padding: 0.6em 1.2em;
        border-bottom: 1px solid #bbb;
    }

    li:first-child { 
        border-top: 1px solid #bbb;

    }

    li:nth-child(odd) {
        background-color: #f7f7f7;
    }
}

footer {
    position: absolute;
    bottom: 1.5em;
    color: #d8d8d8;
}


// ::-webkit-scrollbar {
//     width: 4px;          
//  }
  
//  ::-webkit-scrollbar-thumb {   
//    border-radius: 30px;
//    background: -webkit-gradient(linear,left top,left bottom,from(#ff8a00),to(#da1b60));
//    box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
  
//  ::-webkit-scrollbar-track {     
//    background-color: #fff;
//    background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
// }

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
  }

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    background-clip: content-box;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background-color: #11171a;
    border-radius: 10px;
  }